body{
    background-color: rgb(251, 251, 252);
}
h1{
    font-size: 60px;
    text-align: center;
    color: #000000;
}


img{
    width: 300px;
    height: 300px;
    margin: 60px;
    margin-left: 805px;
    margin-top: 200px;
}